* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Segoe UI',sans-serif;
}

body {
  background: #FFFDF1;
  color: #994A3B;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #3E668A;
}

nav ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

nav a {
  color: #8ABDD0;
  text-decoration: none;
  font-weight: 500;
}

nav ul li {
    position: relative;
}
  
nav ul li:not(:last-child)::after {
    content: "|";
    margin-left: 15px;
    color: #8ABDD0;
}

.logo {
    color: #8ABDD0;
}

/* HOME */
.hero {
    height: 90vh;
    display: flex;
    align-items: center;
    padding-left: 80px;
    background-image: url("Fondo.png"); 
    background-size: cover;
    background-position: center;
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content h1 {
  flex: 1;
  font-size: 5rem;

}

.hero button {
  margin-top: 15px;
  padding: 10px 20px;
  border: none;
  background: #8ABDD0;
  color: #3E668A;
  cursor: pointer;
  border-radius: 8px;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: flex-end;

}

.hero-image img {
  width: 380px; 
  max-width: 100%;
  margin-left: 100px;
}


/* SOBRE MI */
.about {
    background: #994A3B;
    color: #ECE1CF;
    width: 100%;
}
  
.about h2 {
    font-size: 3rem;
    margin-bottom: 15px;
    margin-left: 15px;
}

.soft-skills-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  max-width: 900px;
  margin: 0 auto;
}

/* CONTENEDOR */
.skill-donut {
  text-align: center;
}

/* DONA */
.donut {
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(
    #8ABDD0 calc(var(--percent) * 1%), 
    #ECE1CF 0
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.donut::before {
  content: "";
  width: 75px;
  height: 75px;
  background: #994A3B; 
  border-radius: 50%;
  position: absolute;
}

.donut-inner {
  position: absolute;
  text-align: center;
  z-index: 1;
}

.icon {
  display: block;
  font-size: 20px;
}

/* PORCENTAJE */
.percent {
  font-size: 12px;
  color: #ECE1CF;
  font-weight: bold;
}

/* TEXTO */
.skill-donut p {
  margin-top: 10px;
  color: #ECE1CF;
}

  /* PROYECTOS */
#projects {
    padding: 60px 40px;
}
  
.projects-container {
    margin-top: 20px;
}
  
.project-card {
    height: 60px;
    background: #ECE1CF;
    border-radius: 10px;
    margin-bottom: 15px;
}
  
.project-card:hover {
    transform: scale(1.03);
}

  /* HABILIDADES */
#skills {
    padding: 60px 40px;
}
  
.skills-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    margin-top: 20px;
 }
  
.skill {
    color: #3E668A;
    background-color: #8ABDD0;
    border-color: 2px solid  #8ABDD0;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    font-weight: bold;
}
  
  /* CONTACTO */
.contact {
    padding: 60px 40px;
    background-image: url("Fondo.png");
    background-size: cover;
}